<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.janboike.playlistexporter.server</string>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/node</string>
    <string>server.js</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/jan-boikefischer/Dev/itunesplaylistexporter</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
    <key>PLE_NO_OPEN</key>
    <string>1</string>
    <key>PORT</key>
    <string>4173</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/playlistexporter-launchagent.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/playlistexporter-launchagent.log</string>
</dict>
</plist>
